@import './../../../assets/scss/_config-base';

$courses: '.dashboard__courses';

.dashboard {
  @include rem(padding, 15px);
  transition: .5s ease;

  &.is--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    @include rem(padding, 20px);
    @include rem(border-radius, 5px);
    background-color: #fff;
    border: 1px solid #ccc;
    transition: .5s ease;
  }

  &__heading {
    @include rem(padding-bottom, 15px);
    @include font-weight(bold);
    text-align: center;
    transition: .3s ease;
    border-bottom: 1px solid #eee;

    @include mq('md') {
      @include rem(font-size, 30px);
    }

    @include mq('md', max) {
      @include rem(font-size, 25px);
    }
  }

  &__content {
    @include rem(padding, 20px 0);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    @include rem(margin-bottom, 20px);
    @include rem(padding, 10px);
    @include rem(border-radius, 5px);
    border: 1px solid #ccc;

    @include mq('md', max) {
      flex-basis: 100%;
    }
    @include mq('md') {
      flex-basis: 49%;
    }

    &--name {
      @include font-weight(bold);
    }

    &--description {
      display: block;
      color: rgba(0,0,0,.54);

      @include mq('md', max) {
        @include rem(margin-top, 5px);
        display: block;
      }
    }

    &--password {
      &-container {
        @include rem(margin-top, 10px);
      }
    }
  }

  &__courses {
    &--custom,
    &--generic,
    &--empty,
    &--search,
    &--search-result {
      @include rem(margin-bottom, 20px);
      @include rem(padding-bottom, 15px);

      &-container {
        display: flex;
        flex-wrap: wrap;
      }
      &-title {
        @include rem(margin-bottom, 15px);
        @include rem(font-size, 20px);
        color: $color-blue-darker;
      }
    }

    &--custom {
      border-bottom: 1px solid $color-gray-light;
    }

    &--generic {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--search {
      &-empty {
        span {
          @include rem(font-size, 20px);
          @include font-weight(bold);
          color: $color-primary;
        }
      }
    }

    &[data-view-mode='row'] {
      #{$courses}--custom-container,
      #{$courses}--generic-container,
      #{$courses}--search-container {
        @include scrollbar(7px, $color-black, darken($color-white, 10%));
        @include rem(padding-bottom, 10px);
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        @include mq('xs', max) {
          @include scrollbar(4px, $color-black, darken($color-white, 5%));
          @include rem(padding, 0 5px 20px);
        }

        .card {
          @include mq('xs', max) {
            @include rem(margin-right, 20px);
            width: 95%;
          }
        }
      }
    }
  }

  &__interactions {
    @include rem(margin-top, 10px);

    &--view {
      text-align: right;

      &-text {
        @include rem(margin-right, 10px);
        @include rem(font-size, 15px);
        @include font-weight(semi-bold);
        color: $color-gray;
      }
      &-buttons {
        @include reset-button;
        @include rem(margin-right, 10px);
        vertical-align: middle;

        &.is--active {
          .fa {
            color: $color-primary;
          }
        }

        .fa {
          @include rem(font-size, 20px);
          color: $color-gray;
          transition: 500ms ease;
        }
      }
    }
  }

  &__search {
    @include rem(margin, 10px 0 20px);

    &--form {
      $form: &;

      &-group {
        position: relative;
        display: flex;
        border-bottom: 1px solid $color-blue-gray-lighten;
      }
      &-input {
        @include rem(padding, 10px);
        @include rem(font-size, 14px);
        width: calc(100% - #{$input-height});
        height: $input-height;
        border: none;
        box-sizing: border-box;

        &:focus {
          & ~ #{$form}-underline {
            transform: scale(1);
          }
          & ~ #{$form}-icon {
            .fa {
              color: $color-primary;
            }
          }
        }
      }
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $input-height;

        .fa {
          @include rem(font-size, 20px);
          color: $color-blue-gray-light;
          transition: 500ms ease;
        }
      }
      &-underline {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        transform: scale(0);
        transform-origin: left;
        transition: 500ms ease;
      }
    }
  }
}
