<section class='dashboard is--section is--hidden js--section'>
  <div class='dashboard__container'>
    <h1 class='dashboard__heading'>Dashboard</h1>
    <div class='dashboard__search' *ngIf='genericCourses?.length || customCourses?.length'>
      <div class='dashboard__search--container'>
        <form class='dashboard__search--form' [formGroup]='searchForm'>
          <div class='dashboard__search--form-group'>
            <input class='dashboard__search--form-input'
                   type='text'
                   placeholder='Não achou a matéria? Faça uma busca...'
                   formControlName='search'>
            <div class='dashboard__search--form-icon'>
              <i class='fa fa-search'></i>
            </div>
            <div class='dashboard__search--form-underline'></div>
          </div>
        </form>
      </div>
    </div>
    <div class='dashboard__interactions'>
      <div class='dashboard__interactions--view js--dashboard-view'>
        <span class='dashboard__interactions--view-text'>Modo de visualização: </span>
        <button class='dashboard__interactions--view-buttons is--active'
                title='Visualização em colunas'
                data-value='column'
                (click)='alterViewMode($event)'>
          <i class='fa fa-th'></i>
        </button>
        <button class='dashboard__interactions--view-buttons'
                title='Visualização em linhas'
                data-value='row'
                (click)='alterViewMode($event)'>
          <i class='fa fa-align-justify'></i>
        </button>
      </div>
    </div>
    <div class='dashboard__content'>
      <div class='dashboard__courses js--dashboard-courses' data-view-mode='column'>
        <div class='dashboard__courses--search-result' *ngIf='searching'>
          <h3 class='dashboard__courses--search-title'>Resultado da busca</h3>
          <span class='dashboard__courses--search-empty' *ngIf='searching && !filteredCourses?.length'>
            Não foram encontras máterias com o nome
            <span>"{{ searchTerm.value }}"</span>
          </span>
          <div class='dashboard__courses--search-container'>
            <div class='card'
                 *ngFor='let filteredCourse of filteredCourses'
                 (click)='showModal(filteredCourse)'>
              <div class='card__container'>
                <figure [class]='filteredCourse.generic ? "card__image--container color-generic-course" : "card__image--container color-custom-course"'>
                  <img class='card__image'
                       [src]='filteredCourse.image'
                       [alt]='filteredCourse.name'
                       *ngIf='filteredCourse.image'>
                  <img class='card__image'
                       src='assets/img/box.png'
                       alt='filteredCourse.name'
                       *ngIf='!filteredCourse.image'>
                </figure>
                <div class='card__content'>
                  <span class='card__title'>{{ filteredCourse.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='dashboard__courses--custom' *ngIf='customCourses?.length && !searching'>
          <h3 class='dashboard__courses--custom-title'>Matérias Personalizadas</h3>
          <div class='dashboard__courses--custom-container'>
            <div class='card'
                 *ngFor='let customCourse of customCourses'
                 (click)='showModal(customCourse)'>
              <div class='card__container'>
                <figure class='card__image--container color-custom-course'>
                  <img class='card__image'
                       [src]='customCourse.image'
                       [alt]='customCourse.name'
                       *ngIf='customCourse.image'>
                  <img class='card__image'
                       src='assets/img/box.png'
                       alt='customCourse.name'
                       *ngIf='!customCourse.image'>
                </figure>
                <div class='card__content'>
                  <span class='card__title'>{{ customCourse.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='dashboard__courses--generic' *ngIf='genericCourses?.length && !searching'>
          <h3 class='dashboard__courses--generic-title'>Matérias Gerais</h3>
          <div class='dashboard__courses--generic-container'>
            <div class='card'
                 *ngFor='let genericCourse of genericCourses'
                 (click)='showModal(genericCourse)'>
              <div class='card__container'>
                <figure class='card__image--container color-generic-course'>
                  <img class='card__image'
                       [src]='genericCourse.image'
                       [alt]='genericCourse.name'
                       *ngIf='genericCourse.image'>
                  <img class='card__image'
                       src='assets/img/box.png'
                       alt='genericCourse.name'
                       *ngIf='!genericCourse.image'>
                </figure>
                <div class='card__content'>
                  <span class='card__title'>{{ genericCourse.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='dashboard__courses--empty' *ngIf='!genericCourses?.length && !customCourses?.length'>
          <h3 class='dashboard__courses--empty-title'>Não foram encontras máterias para listar.</h3>
        </div>
      </div>
    </div>
  </div>
</section>
