<header class='header js--header'>
  <div class='header__menu js--header-menu'>
    <figure class='header__menu--icon js--header-menu-icon'>
      <img src='assets/img/icon-w.png' alt='Challenge - EstudarComVc - Icon'>
    </figure>
    <figure class='header__menu--name js--header-menu-name'>
      <img src='assets/img/name-w.png' alt='Challenge - EstudarComVc - Name'>
    </figure>
    <div class='header__menu--button js--header-button' (click)='toggleMenu()'>
      <i class='fa fa-bars' aria-hidden='true'></i>
    </div>
  </div>
</header>
