@import './../settings/_screen-sizes';

/**
 * Media Queries
 * Mobile First
 */
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }

  @if $type == max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

/**
 * Font Weight
 */
@mixin font-weight($weight) {
  $output: $weight;

  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }

  font-weight: $output;
}

@mixin reset-link {
  text-decoration: inherit;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

@mixin reset-media {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

@mixin reset-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content;
    }
  }
}

/**
 * Custom default browser scrollbar
 */
@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: darken($primary, 20%);

    &:hover {
      background: $primary;
    }
  }

  &::-webkit-scrollbar-track {
    background: $secondary;
  }

  // For IE
  body & {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}
