/**
 * Colors
 */

$color-white                    : #ffffff !default;
$color-black                    : #000000 !default;
$color-gray                     : #666666 !default;
$color-gray-light               : #ececec !default;

$color-teal                     : #00a485 !default;
$color-blue-gray-lighten        : #b8c7ce !default;
$color-blue-gray-light          : #62717b !default;
$color-blue-gray                : #37464f !default;
$color-blue-gray-dark           : #101f27 !default;

$color-primary                  : $color-teal !default;
$color-secondary                : $color-blue-gray !default;

$color-purple-lighten           : #e5dbff !default;
$color-blue-lighten             : #dbe4ff !default;
$color-blue-darker              : #2d3240 !default;

// Notify Colors
// Info
$color-notify-primary-info      : #67a4c0 !default;
$color-notify-secondary-info    : #5191ad !default;
// Success
$color-notify-primary-success   : #3db56e !default;
$color-notify-secondary-success : #31a05e !default;
// Error
$color-notify-primary-error     : #c64444 !default;
$color-notify-secondary-error   : #a90d0e !default;
// Warning
$color-notify-primary-warning   : #ebbc42 !default;
$color-notify-secondary-warning : #d3a529 !default;
