/**
 * Screen Sizes
 */
$screen-xs : 490px !default;
$screen-sm : 576px !default;
$screen-md : 769px !default;
$screen-lg : 993px !default;
$screen-xl : 1201px !default;

/**
 * Breakpoints - Media Queries
 */
$breakpoints: (
  'xs': $screen-xs,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl
);
